@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #050507;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.site-title {
  position: fixed;
  display: block;
  z-index: 20;
  top: 35px;
  left: 30px;
  line-height: 1px;
  margin: 0;
}
.section-title {
  font-size: 3.75rem;
  font-weight: normal;
  border-bottom: 1px solid #CCCCCC;
  letter-spacing: 1.8px;
  display: inline-block;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
/*-----------------------
 Header 
-------------------------*/
#header {
  text-align: center;
}
#nav {
  display: none;
  width: 100%;
  height: 300px;
  background-color: #050507;
  position: fixed;
  top: -300px;
  left: 0;
  right: 0;
  z-index: 10;
  transition: .5s;
}
#nav ul {
  margin-top: 70px;
}
#nav ul li {
  margin-bottom: 25px;
}
#nav ul li a {
  cursor: pointer;
  transition: .5s;
}
.js-active #nav {
  top: 0;
  display: block;
}
.hamburger {
  position: fixed;
  cursor: pointer;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 22px;
  z-index: 20;
  display: none;
}
.hamburger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: .5s;
}
.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}
.hamburger span:nth-child(2) {
  top: 10px;
  left: 0;
}
.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.js-active .hamburger span:nth-child(1) {
  transform: translateY(10.5px) rotate(-45deg);
}
.js-active .hamburger span:nth-child(2) {
  transform: translateY(0px) rotate(45deg);
}
.js-active .hamburger span:nth-child(3) {
  transform: translateY(-10.5px) rotate(45deg);
}
/*-----------------------
 Mainvisual
-------------------------*/
#mainvisual {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#mainvisual img {
  width: calc(100% / 3);
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
  object-fit: cover;
}
.hello {
  font-size: 6.25rem;
  margin-top: 125px;
  text-align: center;
}
/*-----------------------
Information 
-------------------------*/
#info {
  margin-top: 125px;
  text-align: center;
}
#info .day-en {
  margin: 55px 0 30px 0;
}
#info .place {
  font-size: 2.5rem;
}
#info .day-ja {
  margin-top: 25px;
}
/* フェードアップ */
.js-fadeUp {
  opacity: 0; /* 最初は非表示 */
  transform: translateY(100px); /* 下に100pxの位置から */
  transition: all 1s; /* 透過率と縦方向の移動を1秒 */
}
.js-fadeUp.is-inview {
  opacity: 1; /* 表示領域に入ったら表示 */
  transform: translateY(0); /* 100px上に移動する */
  transition-delay: .5s; /* フェード開始を0.5秒遅らせる */
}

/*-----------------------
 Gallery
-------------------------*/
#gallery {
  margin-top: 155px;
  text-align: center;
}
#gallery .art-works{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#gallery .art-works img {
  width: 355px;
}
#gallery .art-works .flex-set:nth-child(2n+1) {
  display: flex;
  justify-content: start;
}
#gallery .art-works .flex-set:nth-child(2n) {
  display: flex;
  justify-content: end;
}
/*-----------------------
 Side-btn
-------------------------*/
#side-btn {
  display: flex;
  position: fixed;
  top: 50%;
  right: -50px;
  text-align: center;
  transform: rotate(-90deg);
  transform-origin:bottom right;
  transition: .5s;
}
#side-btn a {
  display: block;
  width: 165px;
  padding: 18px 0 10px 0;
  border: 1px solid #fff;
  border-bottom: none;
  font-size: 0.875rem;
  cursor: pointer;
}
/*-----------------------
 Access
-------------------------*/
#access {
  margin: 500px 0;
  text-align: center;
}
#access .access-place {
  margin: 55px 0 25px 0;
  font-size: 1.75rem;
  font-weight: bold;
}
#access .shop-tel {
  margin: 25px 0 30px 0;
}
#access .map-btn {
  display: block;
  width: 270px;
  height: 50px;
  font-size: 1.75rem;
  border: 1px solid #fff;
  margin: 0 auto;
  line-height: 50px;
  cursor: pointer;
}
#access .bg-photo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("img 10/bg.jpg");
  transition: all 1s ease;
}
/*-----------------------
 Contact
-------------------------*/
#contact {
  text-align: center;
  margin-bottom: 200px;
}
#contact .to-top {
  display: block;
  width: 400px;
  height: 80px;
  border: 1px solid #fff;
  cursor: pointer;
  line-height: 80px;
  margin: 0 auto;
  transition: .5s;
}
#contact .to-top:before {
  content: '';
  width: 120px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 60%;
  margin: 50px 0;
  transition: .5s;
}
#contact .to-top:after {
  content: '';
  width: 20px;
  height: 1px;
  position: absolute;
  background-color: #fff;
  left: calc(60% + 120px - 10px);
  margin:50px 0;
  transform: rotate(30deg) translateX(-50%);
  transition: .5s;
}
#contact .to-top:hover {
  opacity: .8;
}
#contact .to-top:hover:before {
  left: calc(60% + 10px);
}
#contact .to-top:hover:after {
  left: calc(60% + 120px);
}
#contact .gallery-contact {
  margin: 50px auto 20px auto;
}
/*-----------------------
 Footer
-------------------------*/
#footer {
  border-top: 1px solid #fff;
  padding: 0 30px 80px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
#footer .left-content {
  margin-top: 80px;
}
#footer .left-content p {
  margin: 0;
}
#footer .left-content .sns-link {
  display: flex;
  padding: 0;
  margin-top: 35px;
}
#footer .left-content .sns-link li{
  padding-right: 18px;
}
#footer .right-content {
  display: flex;
  align-items: end;
}
#footer .right-content a{
  cursor: pointer;
}
#footer .right-content p{
  margin: 0 0 0 30px;
}
@media screen and (max-width: 900px) {

  .section-title {
    font-size: 2rem;
  } 
  /* Mainvisual */
  .hello {
    font-size: 3rem;
    margin-top: 60px;
  }
  /* Info */
  #info {
    margin-top: 60px;
  }
  /* Gallery */
  #gallery .art-works img {
    width: 100%;
  }
  /* Access */
  #access {
    margin: 300px 0;
  }
  /* Side-bar */
  #side-btn {
    display: none;
  }
  /* Contact */
  #contact {
    padding: 0 30px;
  }
  #contact .to-top {
    width: 100%;
  }
  #contact  .to-top::before {
    display: none;
  }
  #contact  .to-top::after {
    display: none;
  }
  /* Footer */
  #footer {
    flex-direction: column;
    padding: 0 30px;
  }
  #footer .left-content .sns-link {
    margin-bottom: 30px;
  }
  #footer .right-content {
    margin-bottom: 60px;
  }

}
